/* Dashboard.css */

/* Main Content */
.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-header h2 {
  margin-bottom: 10px;
}

.stat-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.stat-card {
  background: var(--white);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.05);
  display: flex;
  align-items: center;
  gap: 20px;
  transition: var(--transition-1);
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px hsla(0, 0%, 0%, 0.1);
}

.stat-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background: transparent;
  transition: var(--transition-1);
}

.stat-card:hover::after {
  background: var(--bittersweet);
}

.stat-icon {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: grid;
  place-items: center;
  font-size: 28px;
}

.stat-icon.users {
  background: hsla(217, 28%, 9%, 0.1);
  color: var(--rich-black-fogra-29);
}

.stat-icon.products {
  background: hsla(5, 100%, 69%, 0.1);
  color: var(--bittersweet);
}

.stat-icon.orders {
  background: hsla(185, 75%, 45%, 0.1);
  color: hsl(185, 75%, 45%);
}

.stat-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.stat-label {
  font-size: var(--fs-7);
  color: var(--onyx);
  font-weight: var(--fw-500);
  text-transform: uppercase;
}

.stat-value {
  font-size: 3.2rem;
  font-weight: var(--fw-700);
  color: var(--rich-black-fogra-29);
  line-height: 1;
}
