/* Global Styles and Variables */

:root {
  /* Colors */
  --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
  --rich-black-fogra-29: hsl(217, 28%, 9%);
  --gray-x-11-gray: hsl(0, 0%, 74%);
  --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
  --bittersweet: hsl(5, 100%, 69%);
  --smoky-black: rgb(7, 6, 1);
  --gainsboro: hsl(0, 0%, 88%);
  --black_90: hsla(0, 0%, 0%, 0.9);
  --cultured: hsl(200, 12%, 95%);
  --salmon: hsl(5, 100%, 73%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 27%);

  /* Typography */
  --ff-roboto: 'Roboto', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;

  --fs-1: 3rem;
  --fs-2: 2.6rem;
  --fs-3: 2.2rem;
  --fs-4: 2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* Transition */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /* Spacing */
  --section-padding: 60px;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
table,
tbody,
button,
ion-icon {
  display: block;
}

button,
input {
  font: inherit;
  background: none;
  border: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
  line-height: 1.8;
}

html {
  font-family: var(--ff-josefin-sans);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: var(--white);
  font-size: 1.6rem;
  padding-block-start: 90px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 70%);
}

/* Reused Styles */
.container {
  padding-inline: 15px;
}

.section {
  padding-block: var(--section-padding);
}

.h1,
.h2,
.h3,
.h4 {
  color: var(--rich-black-fogra-29);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-300);
  line-height: 1.5;
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-4);
}

.h4 {
  font-size: var(--fs-5);
  text-transform: uppercase;
}

.btn {
  background: var(--background, var(--bittersweet));
  color: var(--color, var(--white));
  font-size: var(--fs-5);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  border: 1px solid var(--border-color, var(--bittersweet));
}

.btn-primary:is(:hover, :focus) {
  --background: var(--salmon);
  --border-color: var(--salmon);
}

.btn-secondary {
  --background: transparent;
  --border-color: var(--black);
  --color: var(--black);
}

.btn-secondary:is(:hover, :focus) {
  --background: hsla(0, 0%, 0%, 0.1);
}

.has-scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
  outline: 2px solid var(--bittersweet);
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--bittersweet);
  border: 2px solid var(--white);
  border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.btn-link {
  --background: none;
  --border-color: none;
  padding: 0;
  margin-inline: auto;
  max-width: max-content;
  font-family: var(--ff-roboto);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--white);
}

.btn-link:is(:hover, :focus) {
  border-color: transparent;
}

/* Product Section */
.product .section-title {
  text-align: center;
  margin-bottom: 25px;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.filter-btn {
  color: var(--onyx);
  padding: 10px 16px;
  font-family: var(--ff-roboto);
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
  border: 1px solid var(--gainsboro);
  border-radius: 30px;
}

.filter-btn.active {
  background: var(--bittersweet);
  color: var(--white);
  border-color: var(--bittersweet);
}

.product-list {
  display: grid;
  gap: 50px 25px;
}

/* CTA Section */
.cta-list {
  display: grid;
  gap: 40px;
}

.cta-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);
  text-align: center;
  padding: 50px 20px;
}

.cta-card .card-subtitle {
  font-size: var(--fs-5);
  margin-bottom: 15px;
}

.cta-card .card-title {
  color: inherit;
  line-height: 1.3;
  margin-bottom: 20px;
}

/* Instagram Posts */
.insta-post-list {
  gap: 0;
}

.insta-post-list .insta-post-item {
  position: relative;
  min-width: 33.33%;
  aspect-ratio: 1 / 1;
}

.insta-post-link {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: var(--oxford-blue_60);
  opacity: 0;
  transition: var(--transition-1);
}

.insta-post-link ion-icon {
  color: var(--white);
  font-size: 40px;
}

.insta-post-link:is(:hover, :focus) {
  opacity: 1;
}

/* Go to Top Button */
.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--bittersweet);
  color: var(--white);
  font-size: 20px;
  padding: 10px;
  border: 4px solid var(--white);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-1);
  z-index: 2;
}

.go-top-btn.active {
  opacity: 1;
  visibility: visible;
}

.go-top-btn:is(:hover, :focus) {
  background: var(--salmon);
}

/* Responsive Styles */

/* 575px */
@media (min-width: 575px) {
  :root {
    --fs-1: 4rem;
  }

  .container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }

  .has-scrollbar > li {
    min-width: calc(50% - 12.5px);
  }

  .product-list {
    grid-template-columns: 1fr 1fr;
  }

  .cta-card {
    text-align: left;
  }

  .cta-card .card-title {
    max-width: 14ch;
  }

  .cta-card .btn-link {
    margin-inline: 0;
  }

  .insta-post-list .insta-post-item {
    min-width: 25%;
  }
}

/* 768px */
@media (min-width: 768px) {
  :root {
    --fs-2: 3rem;
  }

  .container {
    max-width: 720px;
  }

  .h4 {
    --fs-5: 2rem;
  }

  .insta-post-list .insta-post-item {
    min-width: 20%;
  }

  .go-top-btn {
    padding: 15px;
    border-width: 6px;
    bottom: 30px;
    right: 30px;
  }
}

/* 992px */
@media (min-width: 992px) {
  :root {
    --fs-3: 2.4rem;
  }

  .container {
    max-width: 970px;
  }

  .has-scrollbar > li {
    min-width: calc(33.33% - 16.66px);
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .cta-list {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .cta-card {
    padding-inline: 50px;
  }

  .insta-post-list .insta-post-item {
    min-width: 16.666%;
  }
}

/* 1200px */
@media (min-width: 1200px) {
  :root {
    --fs-1: 5rem;
    --fs-2: 3.6rem;
  }

  .container {
    max-width: 1280px;
  }

  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .insta-post {
    padding-block-end: 0;
  }

  .insta-post-list .insta-post-item {
    min-width: 12.5%;
  }

  .insta-post-list {
    padding-bottom: 0;
  }
}